/* OVERVIEW */

@if $shell_ver >= 40 {
	.controls-manager, .secondary-monitor-workspaces {
		spacing: $base_spacing * 2;
	}

	#overviewGroup {
		background-color: $system_bg_color;
	}
}

#overview {
  spacing: 24px;
  background-color: transparent;
}

.overview-controls {
  padding-bottom: 32px;
}