// Search entry

$search_entry_width: 320px;
$search_entry_height: 36px;

%search_entry,
.search-entry {
  width: $search_entry_width;
  padding: 2px $base_padding+4;
  border-radius: $search_entry_height * 0.5; // half the height
  color: transparentize(white, 0.3);
  background-color: transparentize(white, 0.9);
  border: 0;

  StLabel.hint-text {
    color: transparentize(white, 0.3);
  }

  @if $shell_ver >= 40 {
    margin-top: $base_icon_size / 2;
    margin-bottom: 0;
  }

  &:hover {
    background-color: transparentize(white, 0.85);
    border-color: transparent;
    color: white;
  }

  &:focus {
    padding: 0 $base_padding+2; // 1px less to account for wider border
    border-width: 2px;
    border-style: solid;
    border-color: $selected_bg_color;
    color: white;
    box-shadow: none;
  }

  .search-entry-icon { 
    icon-size: $base_icon_size;
    padding: 0 4px;
    color: inherit;
  }
}
