/* Window Picker */

$window_picker_spacing: $base_spacing; // 6px
$window_picker_padding: $base_padding * 2; // 12px

$window_thumbnail_label_color: transparentize($osd_bg_color, 0.4);
$window_thumbnail_border_color:transparentize($selected_fg_color, 0.65);

$window_close_button_size: if($_sizevariant == 'default', 24px, 16px);
$window_close_button_padding: 3px;

$window_clone_border_size: if($_sizevariant == 'default', 6px, 4px);

// Window picker
.window-picker {
  // Space between window thumbnails
  @if $shell_ver == 3.36 { // 3.36
    -horizontal-spacing: $window_picker_spacing * 2;
    -vertical-spacing: $window_picker_spacing * 2;
  } 

  @if $shell_ver <= 3.38 { // 3.38 & 3.36
    // Padding for container around window thumbnails
    padding: $window_picker_padding;

    &.external-monitor { padding: $window_picker_padding; }
  }

  spacing: $window_picker_spacing;
}

// Borders on window thumbnails
@if $shell_ver <= 3.38 {
  .window-clone-border {
    border-width: $window_clone_border_size;
    border-style: solid;
    border-color: $window_thumbnail_border_color;
    border-radius: $base_border_radius + 2;
    // For window decorations with round corners we can't match
    // the exact shape when the window is scaled. So apply a shadow
    // to fix that case
    box-shadow: inset 0 0 0 1px if($variant == 'light', transparentize(black, 0.8), transparentize($borders_color, 0.8));
  }
}

// Window titles
.window-caption {
  @if $shell_ver <= 3.38 { // 3.38 & 3.36
    border:1px solid $osd_outer_borders_color;
    border-radius: $base_border_radius + 1;
    font-weight: bold;
    font-size: $base_font_size;
  } 

  @if $shell_ver >= 40 { // GNOME 40
    border-radius: 99px;
  }

  color: $osd_fg_color;
  background-color: $osd_bg_color;
  padding: $base_padding $base_padding * 2;
}

// Close button
.window-close {
  @if $shell_ver <= 3.38 { // 3.38 & 3.36
    background-color: $selected_bg_color;
    color: $selected_fg_color;
    border: none;
    height: $window_close_button_size;
    width: $window_close_button_size;
    border-radius: $window_close_button_size * 0.5 + $window_close_button_padding * 2;

    & StIcon { icon-size: 16px; }

    &:hover {
      background-color: lighten($selected_bg_color, 5%);
    }

    &:active {
      background-color: darken($selected_bg_color, 5%);
    }
  } 

  @if $shell_ver >= 40 { // GNOME 40
    background-color: $osd_bg_color;
    color: $osd_fg_color;
    height: if($_sizevariant == 'default', 30px, 26px);
    width: if($_sizevariant == 'default', 30px, 26px);
    border-radius: 99px; // 99px instead. FTW

    & StIcon { 
    	icon-size: if($_sizevariant == 'default', 24px, 16px); 
    }

    &:hover {
      background-color: lighten($osd_bg_color, 15%);
    }

    &:active {
      color: transparentize($osd_fg_color, 0.2);
      background-color: darken($osd_bg_color, 5%);
    }
  }

  padding: $window_close_button_padding;
  box-shadow: -1px 1px 5px 0px rgba(0,0,0,0.5);
  
  @if $shell_ver == 3.36 { -shell-close-overlap: $window_close_button_size * 0.5; }
}
