window.dialog.message {
  .titlebar {
    min-height: 20px;
    background: none;
    border-style: none;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    box-shadow: inset 0 1px $borders_edge;
  }

  box.dialog-vbox.vertical {
    border-spacing: 10px;
  }

  & label.title {
    font-weight: 800;
    font-size: 15pt;
  }

  &.csd {
    &.background {
      // bigger radius for better antialiasing
      border-bottom-left-radius: $window_radius+1;
      border-bottom-right-radius: $window_radius+1;
    }

    .dialog-action-area {
      border-top: 1px solid $borders_color;
      margin: 0;
      border-spacing: 0;

      > button {
        padding: if($_sizevariant == 'default', 10px 14px, 6px 8px); // labels are not vertically centered on message dialog, this is a workaround
        border-radius: 0;
        border: none;
        border-left: 1px solid $borders_color;

        &:first-child {
          border-bottom-left-radius: $window_radius+1;
          border-left: none;
        }

        &:last-child {
          border-bottom-right-radius: $window_radius+1;
        }
      }
    }
  }
}
