viewswitcher {
  &, & button {
    margin: 0;
    padding: 0;
  }

  button {
    border-radius: 0;
    border-top: none;
    border-bottom: none;
    font-size: 1rem;

    > stack > box {
      &.narrow {
        font-size: 0.75rem;
        padding-top: if($_sizevariant == 'default', 7px, 5px);
        padding-bottom: if($_sizevariant == 'default', 5px, 3px);

        > stack > label {
          padding-left: 8px;
          padding-right: 8px;

          @if $_sizevariant == 'compact' {
            margin-top: -2px;
            margin-bottom: 0px;
          }
        }
      }

      &.wide {
        padding: if($_sizevariant == 'default', 8px, 3px) 12px;
      }

      label.active {
        font-weight: bold;
      }
    }
  }
}

/**********************
 * AdwViewSwitcherBar *
 **********************/

viewswitcherbar actionbar > revealer > box {
  padding: 0;
  min-height: $_headerbar_height;
}

/************************
 * AdwViewSwitcherTitle *
 ************************/

viewswitchertitle viewswitcher {
  margin-left: 12px;
  margin-right: 12px;
}

/*******************
 * AdwIndicatorBin *
 *******************/

indicatorbin {
  > indicator, > mask {
    min-width: 6px;
    min-height: 6px;
    border-radius: 100px;
  }

  > indicator {
    margin: 1px;
    background: gtkalpha(currentColor, .4);

    > label {
      font-size: 0.6rem;
      font-weight: bold;
      padding: 1px 4px;
      color: white;
      font-feature-settings: "tnum";
    }
  }

  > mask {
    padding: 1px;
    background: black;
  }

  &.needs-attention > indicator {
    background: $selected_bg_color;

    > label { color: $selected_fg_color; }
  }
}