// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

/**** Reduce PlacesSidebar height ****/
placessidebar row {
	min-height: 34px;
}

/**** Make titlebar height more 'compact' ****/
.titlebar.default-decoration {
  min-height: 24px;

  button.titlebutton {
  	min-height: 22px;
  	min-width: 22px;
  }
}

/**** Fix slimmed circular buttons ****/
* { & button.circular { min-width: 0; } }

/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
headerbar {
	hdyviewswitcher {
		button.radio {
			box {
				&.horizontal.wide {
					margin: -6px 0;
				}
				
				&.vertical.narrow {
					margin: -3px 0;
				}
			}
		}
		
		label { margin: -2px 0; }
	}
}

/**** Context menu tweaks ****/
// Derived from yaru-theme
decoration {
	$_wm_border: if($variant == 'light', transparentize(black, 0.77), transparentize($borders_color, 0.1));

	.csd.popup & {
		border-radius: $menu_radius;
		box-shadow: 0 1px 2px 1px transparentize(black, 0.7),
					0 0 0 1px $_wm_border;
	}
}

/**** dialog action box (non-CSD) margin tweaks ****/
dialog:not(messagedialog) {
	buttonbox, .dialog-action-area { margin: 8px; }
}

/**** Notebooks/Tabs tweaks ****/
notebook > header tab {
    min-width: $_entry_height;
    min-height: $_entry_height;
    padding: 1px 10px;

    button.flat {
        min-width: 18px;
        min-height: 18px;
    }
}

/**** circular button fixes ****/
button.circular {
    &:not(.flat):not(.osd):not(:checked):not(:active):not(:disabled):not(:backdrop) {
      @include button(normal);
    }

    &:hover:not(.osd):not(:checked):not(:active):not(:disabled):not(:backdrop) {
      @include button(hover);
    }
}

/**** flatter scale/progressbar ****/
// special case for haderbar/CSD
headerbar {
  scale {
    highlight {
      &:backdrop {
        border-color: $selected_bg_color;
        background-color: $selected_bg_color;
      }
    }
    
    fill, trough {
      &:backdrop, & { 
        background-color: darken($dark_fill,8%);
        border-color: darken($dark_fill,8%);
      }
    }
  }
}

progressbar {
    progress {
      &:backdrop, & {
        border-color: $selected_bg_color;
        background-color: $selected_bg_color;
      }
    }

    trough {
      &:backdrop, & {
        border-color: $dark_fill;
        background-color: $dark_fill;
      }
    }
}

scale  {
    highlight {
        border-color: $selected_bg_color;
        background-color: $selected_bg_color;
        
        &:backdrop { border-color: $selected_bg_color; }
    }

    fill, trough { 
      &:backdrop, & { 
        background-color: $dark_fill; 
        border-color: $dark_fill; 
      }   
    }
}

levelbar {
  block {
    &.low {
      border-color: $warning_color;
    }

    &.high,
    &:not(.empty) {
      border-color: $selected_bg_color;
      background-color: $selected_bg_color;

      &:backdrop { border-color: $selected_bg_color; }
    }

    &.full {
      border-color: $success_color;
    }

    &.empty {
      background-color: darken($bg_color, 5%);
      border-color: darken($bg_color, 5%);

      &:backdrop { border-color: darken($bg_color, 5%); }
    }
  }
}
