/* Dash to Dock */
#dashtodockContainer {
	// 3.38 and 3.36
	@if $shell_ver < 40 and $shell_ver >= 3.36 {
		&.left, &.right {
			#dash {
				padding: $dash_padding 0;
			}

			.dash-item-container > StWidget {
				padding: 0 $dash_padding;
			}
		}

		&.top, &.bottom {
			#dash {
				padding: 0 $dash_padding;
			}

			.dash-item-container > StWidget {
				padding: $dash_padding 0;
			}
		}

		&.extended #dash {
			border: 0;
			margin: 0;
		}
	}

	// 40
	@else {
		#dash {
			// legible running dot
			.app-well-app-running-dot {
				box-shadow: 0 0 0 1px rgba(black, 0.3);
			}
		}
		
		&.left #dash {
			margin-right: $dash_bottom_margin;
			
			.dash-background {
				margin-left: $dash_bottom_margin;
			}
			
			.dash-item-container .app-well-app, .show-apps {
    		padding: $dash_padding $dash_padding 0 $dash_padding + $dash_bottom_margin;
  		}
  		
  		.dash-separator {
  			height: 1px;
    		margin: $dash_padding;
    		margin-left: $dash_bottom_margin;
    		background-color: transparentize($osd_fg_color, 0.7);
  		}
		}
		
		&.right #dash {
			margin-left: $dash_bottom_margin;
			
			.dash-background {
				margin-right: $dash_bottom_margin;
			}
			
			.dash-item-container .app-well-app, .show-apps {
    		padding: $dash_padding $dash_padding + $dash_bottom_margin 0 $dash_padding;
  		}
  		
  		.dash-separator {
  			height: 1px;
    		margin-right: $dash_bottom_margin;
    		background-color: transparentize($osd_fg_color, 0.7);
  		}
		}

		&.extended #dash {
			margin: 0;
			padding: 0;

			.dash-item-container .app-well-app, .show-apps { padding: 0; }

			.dash-background {
				border: 0;
				margin: 0;
				border-radius: 0;
				background-color: rgba(black, 0.45);
				box-shadow: none;

				&:overview { background-color: rgba(black, 0.2); }
			}

			.dash-separator { margin: 0 $dash_padding; }
		}

		&:overview {
			&.extended #dash {
				.dash-background { background-color: rgba(black, 0.25); }
			}
		}
	}

	// notification badge styling
	.notification-badge {
		font-weight: 700;
		text-align: center;

		color: white;
		background-color: $red_3;
		border: 1px solid darken($red_3, 25%);
		border-radius: 99px;
		padding: 0.2em 0.6em;
		margin: 2px;
		box-shadow: 0 1px 2px rgba(black, 0.3);
	}
}

/* Dash to Panel */
@each $_dtp_pos, $_line in (Top, 0 2px),
													 (Bottom, 0 -2px) {
	#panel.dashtopanelMainPanel.dashtopanel#{$_dtp_pos} {
		.app-well-app, .show-apps {
			&:focus,
			&:hover,
			&:active,
			&:checked {
				.overview-icon {
					border-radius: 0;
					background: none;
					box-shadow: none;
					color: $panel_fg_color; //override because it will darker in light variant
				}
			}
		}

		.panel-button {
			&.clock-display {
				.clock {
					box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.10);
				}

				&:hover, &:active, &:overview, &:focus, &:checked {
					.clock { box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.20); }
				}
			}
		}

		StButton.show-apps {
			border-radius: 0;
			&:hover, &:active, &:overview, &:focus, &:checked {
		 		background-color: rgba(255, 255, 255, 0.20);
			}

			.overview-icon { background-color: transparent; }
		}
	}
}

/* appindicator extension */
.appindicator-box {
	padding: 0 if($_sizevariant == 'default', $base_padding - 1, $base_padding + 1);
}
