/* GNOME text editor */
// NOTE: this styling are not work since it's uses libadwaita
.org-gnome-TextEditor {
	page searchbar {
		background-clip: padding-box;
		border-color: if($variant == 'light', transparentize(black, 0.77), transparentize(black, 0.25));
	}
	
	listview row button {
		border: 0;
	}
}

/* Clapper video player */
.osdheaderbar {
	padding: 0; // kill large padding in their custom headerbar styling

	button {
		&, &:hover, &:disabled { box-shadow: none; } // remove button top hilight
	}
}