@if $_sizevariant == 'compact' {
/**** CSD window controls tweak ****/
	windowcontrols button {
		padding: $_hb_btn_pad;
	}

	/**** reduce navigation-sidebar row height ****/
	.navigation-sidebar > row {
		min-height: 30px;
		padding: 0 4px;
	}

	/* Message dialog button padding reduce */
	window.dialog.message.csd .dialog-action-area button {
		padding: 6px 8px;
	}
}

windowcontrols button { margin: 0px; }

/**** switch tweaks ****/
$_inv_bg_color: desaturate(#f6f5f4, 100%);

switch {
	headerbar & {
		border-color: darken($borders_color, 3%);
		background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));

		&:backdrop {
			border-color: $backdrop_borders_color;
			background-color: $backdrop_dark_fill;

			&:checked {
      	@if $variant == 'light' { color: $backdrop_bg_color; }
      	border-color: if($variant == 'light', $checkradio_borders_color,
                                            	$selected_borders_color);
      	background-color: $checkradio_bg_color;
    	}
		}
	}

	> slider { background-clip: padding-box; }
	// 'inverted' slider when checked (dark variant)
	&:checked > slider {
		background-image: linear-gradient(to top, darken($_inv_bg_color, 2%) 2px, $_inv_bg_color);
		border: 1px solid transparentize(black, 0.77);
		box-shadow: inset 0 1px white; // override hilight effect
	}

	&:checked:hover > slider {
		background-image: linear-gradient(to top, darken($_inv_bg_color,16%), darken($_inv_bg_color,8%) 1px);
		border: 1px solid transparentize(black, 0.77);
	}
}

/**** scrollbar tweaks ****/
scrollbar > range > trough > slider {
	// workaround: apparently new scrollbar change commit causes 'jumping' content in some areas
	transition: none;
}

/**** scale slider tweaks ****/
scale > trough > slider {
    border-color: $borders_color;
}

// scale: add some contrast in headerbar/CSD
headerbar {
	scale {
		> trough, > trough > fill {
			border-color: if($variant == 'light', 
                    darken($borders_color, 8%), 
                    darken($borders_color, 4%));
      background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));

      &:backdrop {
      	border-color: $borders_color;
      	background-color: $dark_fill;
      }

      &:disabled {
   			background-color: $insensitive_bg_color;
   			border-color: $insensitive_borders_color;
  		}
		}
	}
}
