@if $_sizevariant == 'compact' {
	/**** button.color sizing fix ****/
	button.color {
		min-width: 22px;
		min-height: 14px;
	}
	
	/**** CSD window controls tweak ****/
	windowcontrols button {
		padding: $_hb_btn_pad;
	}

	/**** reduce navigation-sidebar row height ****/
	.navigation-sidebar > row {
		min-height: 30px;
		padding: 0 4px;
	}

	/* Message dialog button padding reduce */
	window.dialog.message.csd .dialog-action-area button {
		padding: 6px 8px;
	}
}

windowcontrols button { margin: 0px; }

/**** switch tweaks ****/
$_inv_bg_color: desaturate(#f6f5f4, 100%);

switch {
	headerbar & {
		border-color: darken($borders_color, 3%);
		background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));

		&:backdrop {
			border-color: $backdrop_borders_color;
			background-color: $backdrop_dark_fill;

			&:checked {
      	@if $variant == 'light' { color: $backdrop_bg_color; }
      	border-color: if($variant == 'light', $checkradio_borders_color,
                                            	$selected_borders_color);
      	background-color: $checkradio_bg_color;
    	}
		}
	}
}

/**** scale/progressbar tweaks ****/
%_hb_progress_scale {
	border-color: if($variant == 'light', 
                darken($dark_fill, 12%), 
                darken($dark_fill, 8%));
  background-color: if($variant == 'light', 
                    darken($dark_fill, 12%), 
                    darken($dark_fill, 8%));
                        
  &:backdrop {
    border-color: $dark_fill;
    background-color: $dark_fill;
      	
    transition: none;
  }
}

headerbar {
	progressbar > trough { @extend %_hb_progress_scale; }
	scale {
		> trough, > trough > fill { @extend %_hb_progress_scale; }
	}
}

/**** make OSD toolbar pretty or same as gtk3 ****/
.osd {
	padding: 13px;
	border-radius: 5px;
}

// special case for GtkVideo widget
video {
	.osd {
		padding: $_hb_btn_pad $_hb_btn_pad+1; // same as headerbar padding
		border-radius: 0;
	}
	// unfortunately the big play button became not rounded
	image.osd {
		border-radius: 99px;
	}
}
