@if $_sizevariant == 'compact' {
	/**** button.color sizing fix ****/
	button.color {
		min-width: 22px;
		min-height: 14px;
	}
	
	/**** CSD window controls tweak ****/
	windowcontrols button {
		padding: $_hb_btn_pad;
	}

	/**** reduce navigation-sidebar row height ****/
	.navigation-sidebar > row {
		min-height: 30px;
		padding: 0 4px;
	}
	
	/**** Compact Notebooks/Tabs ****/
	notebook {
		> header > tabs > tab {
			min-width: 28px;
			min-height: 28px;
			padding: 1px 10px;
			
			button.flat {
				min-width: 18px;
				min-height: 18px;
			}
		}
	}

	/* Message dialog button padding reduce */
	window.dialog.message.csd .dialog-action-area button {
		padding: 6px 8px;
	}
}

windowcontrols button { margin: 0px; }

/**** bring back top hilight in backdrop headerbar ****/
.titlebar:backdrop:not(headerbar), headerbar:backdrop {
	box-shadow: inset 0 1px $top_hilight;
}

/**** make OSD toolbar pretty or same as gtk3 ****/
.osd {
	padding: 13px;
	border-radius: 5px;
}

// special case for GtkVideo widget
video {
	.osd {
		padding: $_hb_btn_pad $_hb_btn_pad+1; // same as headerbar padding
		border-radius: 0;
	}
	// unfortunately the big play button became not rounded
	image.osd {
		border-radius: 99px;
	}
}

// misc tweaks
stackswitcher > button.text-button { min-width: 6.25em; } // use em sizing
