/*************
 * Level Bar *
 *************/
levelbar {
  &:disabled {
    opacity: 0.5;
  }

  &.horizontal {
    block {
      min-height: 4px;
    }

    &.discrete block {
      margin: 0 1px;
      min-width: 32px;
    }
  }

  &.vertical {
    block {
      min-width: 4px;
    }

    &.discrete block {
      margin: 1px 0;
      min-height: 32px;
    }
  }

  block {
    border-radius: 6px;

    &.low {
      background-color: $warning_color;
    }

    &.high,
    &:not(.empty) {
      background-color: $fill_color;
    }

    &.full {
      background-color: $success_color;
    }

    &.empty {
      background-color: $trough_color;
    }
  }
}
