// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

// make compact sizings only available in -compact sizevariant
@if $_sizevariant == 'compact' {
	/**** Reduce PlacesSidebar height ****/
	placessidebar row {
		min-height: 34px;
	}

	/**** Make titlebar height more 'compact' ****/
	.titlebar.default-decoration {
		min-height: 24px;

		button.titlebutton {
			min-height: 22px;
			min-width: 22px;
		}
	}
  
	/**** Fix slimmed circular buttons ****/
	* { & button.circular { min-width: 0; } }
	
	/**** Notebooks/Tabs tweaks ****/
	notebook > header tab {
		min-width: $_entry_height;
		min-height: $_entry_height;
		padding: 1px 10px;
		
		button.flat {
			min-width: 18px;
			min-height: 18px;
		}
	}
	
	/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
	// libhandy 0.x specific, for libhandy1 styling go to _libhandy.scss
	headerbar {
		hdyviewswitcher {
			button.radio {
				box {
					&.horizontal.wide { margin: -6px 0; }
					
					&.vertical.narrow { margin: -3px 0; }
				}
			}
					
			label { margin: -2px 0; }
		}
	}

	/* Message dialog button padding reduce */
	messagedialog.csd .dialog-action-area button {
		padding: 6px 8px;
	}
}

/**** scrollbar tweaks ****/
scrollbar slider {
	// workaround: apparently new scrollbar change commit causes 'jumping' content in some areas
	transition: none;
}

/**** switch tweaks ****/
$_inv_bg_color: desaturate(#f6f5f4, 100%);

switch {
	headerbar & {
		border-color: darken($borders_color, 3%);
		background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));
	}

	slider {
		@include button(normal);
		background-clip: padding-box;
		border-bottom-color: $borders_color;
	}

	&:hover slider { 
		@include button(hover);
		border-bottom-color: $borders_color;
	}

	// 'inverted' slider when checked (dark variant)
	&:checked > slider {
		background-image: linear-gradient(to top, darken($_inv_bg_color, 2%) 2px, $_inv_bg_color);
		border: 1px solid transparentize(black, 0.77);
		box-shadow: inset 0 1px white; // override hilight effect
	}

	&:checked:hover > slider {
		background-image: linear-gradient(to top, darken($_inv_bg_color,16%), darken($_inv_bg_color,8%) 1px);
		border: 1px solid transparentize(black, 0.77);
	}

	&:disabled slider { @include button(disabled); }
	&:backdrop {
		slider { 
			@include button(backdrop);
			transition: $backdrop_transition;
		}

		&:checked > slider {
			@include button(backdrop, $c: $_inv_bg_color);
			border: 1px solid transparentize(black, 0.77);
		}

		&:disabled slider { @include button(backdrop-insensitive); }
	}
}

/**** Context menu tweaks ****/
// Derived from yaru-theme
decoration {
	$_wm_border: if($variant == 'light', transparentize(black, 0.77), transparentize($borders_color, 0.1));

	.csd.popup & {
		border-radius: $menu_radius;
		box-shadow: 0 1px 2px 1px transparentize(black, 0.7),
					0 0 0 1px $_wm_border;
	}
}

/**** dialog action box (non-CSD) margin tweaks ****/
dialog:not(messagedialog) {
	buttonbox, .dialog-action-area { margin: 8px; }
}

/**** scale/progressbar tweaks ****/
// increase contrast on CSD/header bars
headerbar {
  scale {
    fill, trough {
      border-color: if($variant == 'light', 
                    darken($borders_color, 8%), 
                    darken($borders_color, 4%));
      background-color: if($variant == 'light', 
                        darken($dark_fill, 8%), 
                        darken($dark_fill, 4%));
    }
  }
}

scale slider:not(.osd) {
  background-clip: padding-box;
  &, &:hover {
    border-color: if($variant == 'light', 
                  transparentize(black, 0.7),
                  transparentize($alt_borders_color, 0.1));
  }

  &:active { border-color: $progress_border_color; }

  &:backdrop { 
    border-color: if($variant == 'light', 
                  transparentize(black, 0.77),
                  transparentize($alt_borders_color, 0.5));  
  }
}

/**** window button tweaks ****/
$_titlebutton_hvr_color: if($variant == 'light', darken($headerbar_color,26%), darken($headerbar_color,11%));
$_titlebutton_prs_color: if($variant == 'light', darken($headerbar_color,30%), darken($headerbar_color,15%));

button.titlebutton {
  &:not(appmenu) {
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    
    &:hover { background-color: $_titlebutton_hvr_color; }
    &:active, &:checked { background-color: $_titlebutton_prs_color; }

    &:backdrop {
      &, &:hover, &:active, &:checked { background: none; }
    }
  }
}
