// Additional tweaks
// Instead modifying _common.scss, let some tweaks available here

// make compact sizings only available in -compact sizevariant
@if $_sizevariant == 'compact' {
	/**** button.color sizing fix ****/
	button.color {
		min-width: 22px;
		min-height: 14px;
	}

	/**** Reduce PlacesSidebar height ****/
	placessidebar row { min-height: 34px; }

	/**** Make titlebar height more 'compact' ****/
	.titlebar.default-decoration {
		min-height: 24px;

		button.titlebutton {
			min-height: 22px;
			min-width: 22px;
		}
	}

	/**** Fix slimmed circular buttons ****/
	* {
		& button.circular { min-width: 0; }
	}

	/**** Notebooks/Tabs tweaks ****/
	notebook > header tab {
		min-width: $_entry_height;
		min-height: $_entry_height;
		padding: 1px 10px;

		button.flat {
			min-width: 18px;
			min-height: 18px;
		}
	}

	/**** Fix for apps that uses HdyViewSwitcher in headerbar ****/
	// libhandy 0.x specific, for libhandy1 styling go to _libhandy.scss
	headerbar {
		hdyviewswitcher {
			button.radio {
				box {
					&.horizontal.wide { margin: -6px 0; }

					&.vertical.narrow { margin: -3px 0; }
				}
			}

			label { margin: -2px 0; }
		}
	}

	/* Message dialog button padding reduce */
	messagedialog.csd .dialog-action-area button { padding: 6px 8px; }
}

/**** selectionmode tweaks ****/
headerbar.selection-mode {
	text-shadow: none;
	-gtk-icon-shadow: none;

	//top hilight override
	box-shadow: inset 0 1px transparentize(white, 0.8);
	&:backdrop {
		box-shadow: inset 0 1px transparentize(white, 0.8);
		label {
			color: $backdrop_selected_fg_color;
			opacity: 0.8;
		}
	}
}

/**** switch tweaks ****/
switch {
	headerbar & {
		border-color: darken($borders_color, 3%);
		background-color: if($variant == 'light',
											darken($dark_fill, 8%),
											darken($dark_fill, 4%));
	}
}

/**** dialog action box (non-CSD) margin tweaks ****/
dialog:not(messagedialog) {
	buttonbox, .dialog-action-area { margin: 8px; }
}

// misc tweaks
stackswitcher button.text-button { min-width: 6.25em; } // use em sizing
