/**** Nautilus ****/
$_nautilus_disclosure_btn_pad: if($_sizevariant == 'default', 4px, 2px);

.nautilus-window {
	notebook {
		> stack {
			background: $base_color;
		}
	}

	.disclosure-button {
  	padding-left: $_nautilus_disclosure_btn_pad;
  	padding-right: $_nautilus_disclosure_btn_pad;
	}

	.nautilus-canvas-item.dim-label {
		color: mix($fg_color, $bg_color, 50%);

		&:selected { color: mix($selected_fg_color, $selected_bg_color, 50%); }
	}

	entry.search > * {
		margin: 5px;
	}

	.nautilus-path-bar {
		button {
			margin: 0;
			&:not(:checked) image { opacity: 0.8; }
		}
	}

	.path-bar-box {
		border-radius: 5px;
		padding-right: 6px;

		border: 1px solid $borders_color;
		background-color: $bg_color;
		background-clip: padding-box;

		button:first-child {
			border-radius: 3.5px 0 0 3.5px;
			border-width: 0px 1px 0px 0px;
		}

		button:not(:first-child) {
			border-width: 0px 1px 0px 1px;
			border-radius: 0;
		}
	}
	
	.floating-bar {
		padding: 1px;
		background-color: $base_color;
		border-width: 1px;
		border-style: solid solid none;
		border-color: $borders_color;
		border-radius: 3px 3px 0 0;
		
		&.bottom.left {
			border-left-style: none;
			border-top-left-radius: 0;
		}
		
		&.bottom.right {
			border-right-style: none;
			border-top-right-radius: 0;
		}
		
		button { padding: 0px; }
	}
}

// disk space piechart
$disk_space_unknown: #888a85;
$disk_space_used: #729fcf;
$disk_space_free: $osd_fg_color;

.disk-space-display {
	border-style: solid;
	border-width: 2px;

	&.unknown {
		background-color: $disk_space_unknown;
		border-color: shade($disk_space_unknown, 0.7);
		color: $disk_space_unknown;

		&.border { color: shade($disk_space_unknown, 0.7); }
	}

	&.used {
		background-color: $disk_space_used;
		border-color: shade($disk_space_used, 0.7);
		color: $disk_space_used;

		&.border { color: shade($disk_space_used, 0.7); }
	}

	&.free {
		background-color: $disk_space_free;
		border-color: shade($disk_space_free, 0.7);
		color: $disk_space_free;

		&.border { color: shade($disk_space_free, 0.7); }
	}
}